@use '../helpers' as *;

.video-card {
    display: flex;
    align-items: start;
    row-gap: rem(30);
    flex-direction: column;
    height: 100%;

    @include laptop {
        row-gap: rem(20);
    }

    &__body {
        display: grid;
        row-gap: fluid(10, 4);
        flex-grow: 1;
    }

    &__player {
        width: 100%;
    }
}